$media-breakpoint: 600px;
$body-max-width: 800px;
$base-font-size: 12pt !default;
$paragraph-line-height: "1.5" !default;
$media-font-size: 10pt !default;
$media-paragraph-line-height: "1.2" !default;
$heading-alignment: left !default;

$title-font: "Oswald", sans-serif !default;
$author-font: "Oswald", sans-serif !default;
$header-font: "Noto Sans", sans-serif !default;
$mono-font: "Fira Code", monospace !default;
$body-font: "Noto Serif", serif !default;

$indent: false !default;
$paper-box: true !default;
$footnote-highlight: "true" !default;
$footnote-highlight-color: #ffa !default;


body {
    max-width: $body-max-width;
    grid-column-gap: 3em;
    padding-top: 2em;
    font-family: $body-font;
    font-size: $media-font-size;
    line-height: $media-paragraph-line-height;
    text-align: justify;
    margin: 3em auto 0 auto; 
  }

.content {
  margin: 1em;
  padding-bottom: 2em;
}

@media only screen and (min-width: $media-breakpoint) {
  body {
    font-size: $base-font-size;
    line-height: $paragraph-line-height;
    @if $paper-box == true {
      box-shadow: 1px 4px 14px #888;
    }
  }
  .content {
    margin: 1em 3em 3em 3em;
  }
}

header {
  text-align: center;
}

h1 {
  font-family: $header-font;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.5em;
	text-align: $heading-alignment;
	font-weight: bold;
	page-break-before: always;
	text-indent: 0;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.2em;
	page-break-before: auto;
}

@if $indent == true {
  p {
    margin: 1em 0 0 0;
    text-indent: 0;
  }
  p+p {
    margin: 0;
    text-indent: 1em;
  }
}
@else {
  p {
    margin: 0;
    text-indent: 0;
  }
  p+p {
    margin-top: 1em;
  }
}

a {
	color: inherit;
  text-decoration: underline dotted;
	
	.footnoteRef {
		vertical-align: super;
	}
}

@if $footnote-highlight == "true" {
  *[id^='fn']:target {
    background-color: $footnote-highlight-color;
  }
}

.math {
  font-family: $body-font;
  font-size: 0.9em;
}

blockquote {
  font-style: italic;
}

.citation {
  font-style: normal;
}

section.footnotes {
  margin-top: 2em;
}

code {
  font-family: $mono-font;
  font-variant-ligatures: contextual;
  font-feature-settings: "calt" 1;
  font-size: 0.9em;
}

figure {
	text-align: center;
	margin: 1em 0;
	max-width: 100%;
	max-height: 100%;
	page-break-inside: avoid;
	clear: both;

	img {
	max-height: 100%;
	max-width: 100%;
	}
}

figcaption {
	text-indent: 0;
	text-align: center;
	font-style: italic;
	padding-left: 1em;
	padding-right: 1em;
}

ol.toc {
	padding: 0;
	margin-left: 1em;
}
ol.toc li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

em, em em em, em em em em em {
	font-style: italic;
}

em em, em em em em {
	font-style: normal;
}

.date {
  font-family: $author-font;
	margin-top: 1em;
	margin-bottom: 3em;
	text-indent: 0em;
	font-size: 1.2em;
	text-align: center;
}
.author {
  font-family: $author-font;
	margin-top: 1em;
	text-indent: 0em;
	font-size: 1.5em;
	text-align: center;
}
.main {
  font-family: $title-font;
	margin-top: 2em;
	text-indent: 0em;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
}
.title {
  font-family: $title-font;
	text-indent: 0em;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
}
.subtitle {
  font-family: $author-font;
	margin-top: 1em;
	text-indent: 0em;
	font-size: 1.4em;
	font-style: italic;
	text-align: center;
}

#sidebar {
  right: 1em;
  top: 3em;
  z-index: 1;
  margin: 0;
  text-align: left;
  padding: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 350px;  
  max-height: 95%;
  font-size: 10pt;
    
  ul {
    display:none;
    width:100%;
    list-style:none;
    margin:0;
    background: #FFFFFF;
    
    li {
      margin-right: 4em;
      a {
        display:block;
        padding:0.3em;
        background: #FFFFFF;
        color: #000000;
        text-decoration:none;
        &:hover {
          color:#FFFFFF;
          background: #555;
        }
      }
    }
  } 

  input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px;
    &:checked ~ ul,&:checked ~ ul li ul {
      display:block !important;
    }
  }
    
  label {
    position: fixed;
    right: 0.5em;  
    top: .2em;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    font-size:2em;
    background:#FFFFFF;
    color:#000000;
    &:after {
      content:"\2261";
    }
    &:hover {
      color:#FFFFFF;
      background: #555;
    }
  }
}
