div.QuoteBlock {
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 0;

	p {
		text-indent: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	p + p {
		text-indent: 1.2em;
	}

	.QuoteAuthor {
		font-style: italic;
		text-indent: 0;
		text-align: right;
	}

	.QuoteScource {
		font-weight: bold;
		text-indent: 0;
		text-align: right;
	}

	.QuoteScourceTop {
		font-weight: bold;
		text-indent: 0;
		text-align: center;
	}

	.QuoteAuthorTop {
		font-style: italic;
		text-indent: 0;
		text-align: center;
	}

	.QuoteAuthorTop + p, .QuoteScourceTop + p {
		padding-top: 1em;
	}

	.QuoteScourceTop + .QuoteAuthorTop {
		padding-top: 0.2em;
	}

	.QuoteSingle {
		text-indent: 0;
		text-align: right;
	}
}
